<div class="hero-unit">
	<h1>We are getting married!</h1>
	<p>
		Vin and I are excited for you to join us. 
		Shop for us at <%= link_to "Amazon","http://www.amazon.com" %>.
	</p>
	<p>
		<%= link_to "Sign our Guestbook","#", class:"btn btn-primary btn-large" %>
	</p>
</div>

