<div class="hero-unit">
	<h1>We're getting hitched!</h1>
	<p>
		March 22, 2014. Vin and I are excited for you to join us. 
		Shop for us at <%= link_to "Amazon","http://www.amazon.com" %>.
	</p>
	<p>
		<%= link_to "Sign our Guestbook","#", class:"btn btn-primary btn-large" %>
	</p>
</div>

<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
       <div class="active item">…</div>
       <div class="item">…</div>
       <div class="item">…</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

