/* possible to change the font

$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=oxygen);

*/

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white; 

@import 'bootstrap';
@import 'bootstrap-responsive';

body {
	padding-top: 60px;
}



.navbar-inner {

	@include box-shadow(none !important);
	border: 0; 
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color:gray;
	}
}